{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ja"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<title>playful|About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="小牧市アイアン家具｜キャンプ用品ならプレイフルへ">
	<meta name="keywords" content="小牧市、家具、キャンプ、雑貨、オーダー"/>
	<meta name="author" content="山崎唯衣" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="playful|小牧市のアイアン家具｜キャンプ用品"/>
	<meta property="og:image" content="https://playful-sennari.com/images/IMG_1801.JPG"/>
	<meta property="og:url" content="https://playful-sennari.com"/>
	<meta property="og:site_name" content="playful"/>
	<meta property="og:description" content="愛知県小牧市にある千成工業株式会社が手がけるNEWブランド、「playful」は、
	製造業ということを生かしたアイアン×木材など、オリジナリティ溢れる製品を製作しています。"/>
	<meta name="twitter:title" content="playful|小牧市のアイアン家具、キャンプ用品" />
	<meta name="twitter:image" content="https://playful-sennari.com/images/IMG_1801.JPG" />
	<meta name="twitter:url" content="https://twitter.com/sennariaichi" />
	<meta name="twitter:card" content="summary Card" />
	<meta name="twitter:site" content="@sennariaichi" />

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
							<a class="fh5co-logo" href="{% url 'myapp:index' %}">playful</a>


							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
									<li><a href="{% url 'myapp:index' %}"><span>Home</span></a></li>
									<li><a href="{% url 'myapp:cart' %}">Services</a></li>
								<li><a href="{% url 'myapp:item' %}">products</a></li>
								<li class="active"><a href="{% url 'myapp:camp' %}">about</a></li>
								<li><a href="{% url 'myapp:new' %}">contact</a></li>
							</ul>
						</div>
					</div>
				</nav>
		  </div>
		</header>
		<!-- END: header -->
		<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/IMG_9243.JPG' %});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>About Us</h2>
							<h3>playful presented by sennariは、愛知県小牧市にある千成工業が運営しています。</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="about-section">
							<h3 class="animate-box">Company Background</h3>
							<img class="display-left animate-box" src="{% static 'images/of.jpg' %}" alt="about">
							<p class="animate-box">playful[プレイフル]という言葉は、聞き慣れない言葉かもしれません。<br>
	            適切な日本語に翻訳するのは難しいのですが、「何かに夢中になったり、ドキドキワクワクしたりするなど、前向きな気持ちで
	            いっぱいになっている状態のこと」を指します。playfulでは、お客様一人一人が使用する度にドキドキワクワクできる、そんな商品の製作を心がけています。</p>
							<img class="display-right animate-box" src="{% static 'images/IMG_1800_1.jpg' %}" alt="about">
							<p class="animate-box">「アイアン」×「木材」の魅力をシンプルに引き立て、ミニマルなデザインで仕上げた、アイアンのシェルフです。
							木の温もりを十分に感じられるナチュラルな雰囲気の木材に、 直線美が美しい無垢鉄プレート脚を組み合わせています.</p>
							<blockquote class="animate-box">
								<p>“創業以来一つ一つ丁寧に手作りしてまいりました。量産型ではなく製品毎に一から考え、納得の行くまで試行錯誤して「playful」の製品は作られています。
									職人一人一人がアイデアをだし、真心を込めて作り上げた製品を是非手にとってみてください。とは、ネットショップでは言えませんが、届いた時の笑顔を想像しながら、日々切磋琢磨しています。私たち「playful」は、これからもお客様の笑顔が溢れる。そんな製品作りをしていきたいと思っています。”</p>
								<span>&mdash; playful</span>
							</blockquote>
							<div class="row">
								<div class="col-md-6 animate-box">
									<p> 全力を尽くして作ったものが、お客様のところで役に立つ。
										アイデアを出した人も、つくった人も、検査した人も、ものづくりに携わる人としてうれしいことです。
										お客様が喜んでくれる姿を思い、全力でものづくりに励むそんな生き方が好きです。

									</p>
								</div>
								<div class="col-md-6 animate-box">
									<p>あったらいいな！こうした方が可愛い！このほうが便利じゃない？そんな声が集められてできた、他にはないオリジナル商品です！！</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="sidebar">
							<div class="inner animate-box">
								<h2>Featured Products</h2>
								<a href="#"><img class="img-responsive" src="{% static 'images/IMG_9242.JPG' %}" alt="product"></a>
								<p>アイアンがおしゃれなラック。お部屋やお店で小物などをディスプレイしてみてはいかがでしょう！！</p>
							</div>
							<div class="inner animate-box">
								<h2>Categories</h2>
								<ul class="list">
									<li><a href="https://sennari.aichi.jp/">千成工業ホームページへ</a>
										<ul>
											<li><a href="https://playful-sennari.com/item.html">camp item</a></li>
											<li><a href="https://playful-sennari.com/item.html">interior</a></li>
											<li><a href="https://playful-sennari.com/item.html">zakka</a></li>
											<li><a href="https://playful-sennari.com/new.html">contact</a></li>
										</ul>
									</li>

							</div>
							<div class="inner animate-box">
								<h2>会社理念</h2>
								<p class="quote">“お客様を第一に考えた、ものづくり”</p>
								<span>&mdash; 千成工業 &mdash;</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p>playful presented by sennari &copy; 2021.<a href="https://playful-sennari.com">playful</a>. All Rights Reserved.
                                                                <br>毎日を楽しく<i class="icon-heart3 love"></i> <a href="{% url 'myapp:cart' %}" target="_blank">プライバシーポリシー</a> / 必ずお読みください<a href="{% url 'myapp:cart' %}" target="_blank">特定商取引法に
基づく表記</a></p>
							<p class="fh5co-social-icons">
								<a href="https://twitter.com/sennariaichi"><i class="icon-twitter-with-circle"></i></a>
								<a href="https://www.facebook.com/sennarikougyou/photos/pcb.1775779699260892/1775779582594237/"><i class="icon-facebook-with-circle"></i></a>
								<a href="https://www.instagram.com/p/CSLl-EOLw5t/?utm_source=ig_web_copy_link"><i class="icon-instagram-with-circle"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- END: box-wrap -->

	<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Parallax Stellar -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>

<!-- Main JS (Do not remove) -->
<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
