{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html lang="ja"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<title>playful|プライバシーポリシー</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="小牧市アイアン家具｜キャンプ用品ならプレイフルへ">
	<meta name="keywords" content="小牧市、家具、キャンプ、雑貨、オーダー"/>
	<meta name="author" content="山崎唯衣" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="playful|小牧市のアイアン家具｜キャンプ用品"/>
	<meta property="og:image" content="https://playful-sennari.com/images/IMG_1801.JPG"/>
	<meta property="og:url" content="https://playful-sennari.com"/>
	<meta property="og:site_name" content="playful"/>
	<meta property="og:description" content="愛知県小牧市にある千成工業株式会社が手がけるNEWブランド、「playful」は、
	製造業ということを生かしたアイアン×木材など、オリジナリティ溢れる製品を製作しています。"/>
	<meta name="twitter:title" content="playful|小牧市のアイアン家具、キャンプ用品" />
	<meta name="twitter:image" content="https://playful-sennari.com/images/IMG_1801.JPG" />
	<meta name="twitter:url" content="https://twitter.com/sennariaichi" />
	<meta name="twitter:card" content="summary Card" />
	<meta name="twitter:site" content="@sennariaichi" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">



	<!-- Modernizr JS -->
<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="index.html">playful</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
							<li><a href="{% url 'myapp:index' %}"><span>Home</span></a></li>
							<li class="active"><a href="{% url 'myapp:cart' %}">Service</a></li>
							<li><a href="{% url 'myapp:item' %}">Products</a></li>
							<li><a href="{% url 'myapp:camp' %}">About</a></li>
							<li><a href="{% url 'myapp:new' %}">Contact</a></li>
							</ul>
						</div>
					</div>
				</nav>
		  </div>
		</header>
		<!-- END: header -->
		<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/intro.jpg' %});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>プライバシーポリシー</h2>
							<h3>playful(以下当ショップ)は、GMOペパボ株式会社(以下サービス提供会社)の提供するショッピングカートASPサービス　カラーミーショップ(当サービス)を利用して当ショップを開設するにあたりGMOペパボ株式会社の定めたプライバシー・ポリシーに則った個人情報の取扱いを行います。</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-heart"></i>
								<div class="holder-section">
									<h3>個人情報の定義</h3>
									<p>個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、
										及び他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものをいいます。
								</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-laptop"></i>
								<div class="holder-section">
									<h3>個人情報の収集</h3>
									<p>当ショップでは商品のご購入、お問合せをされた際にお客様の個人情報を収集することがございます。
									収集するにあたっては利用目的を明記の上、適法かつ公正な手段によります。
									当ショップで収集する個人情報は以下の通りです</p>
																</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-video"></i>
								<div class="holder-section">
									<h3>個人情報の利用：当ショップではお客様からお預かりした個人情報の利用目的は以下の通りです。</h3>
									<p>a)ご注文の確認、照会<br>
									b)商品発送の確認、照会<br>
									c)お問合せの返信時<br>

									当ショップでは、下記の場合を除いてはお客様の断りなく第三者に個人情報を開示・提供することはいたしません。

									a)法令に基づく場合、及び国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
									b)人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
									c)当ショップを運営する会社の関連会社で個人データを交換する場合 </p></p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-mobile"></i>
								<div class="holder-section">
									<h3>個人情報の訂正、削除</h3>
									<p>お客様からお預かりした個人情報の訂正・削除は下記の問合せ先よりお知らせ下さい。
									また、ユーザー登録された場合、当サイトのメニュー「マイアカウント」より個人情報の訂正が出来ます。</p>								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-gears"></i>
								<div class="holder-section">
									<h3>返品期限：商品到着後７日以内とさせて頂きます。

									</h3>
									<p>	プライバシーポリシーの変更：当ショップでは、収集する個人情報の変更、利用目的の変更、
										またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。</p>								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-piechart"></i>
								<div class="holder-section">
									<h3>お問合せ先：特定商取引法に基づく表記をご覧ください。
									</h3>
									<p>
									プライバシーポリシーの変更：当ショップでは、収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p>playful presented by sennari &copy; 2021.<a href="https://playful-sennari.com/index.html">playful</a>. All Rights Reserved.
								<br>毎日を楽しく<i class="icon-heart3 love"></i> <a href="cart.html" target="_blank">プライバシーポリシー</a> / 必ずお読みください<a href="cart.html" target="_blank">特定商取引法に基づく表記</a></p>
							<p class="fh5co-social-icons">
								<a href="https://twitter.com/sennariaichi"><i class="icon-twitter-with-circle"></i></a>
								<a href="https://www.facebook.com/sennarikougyou/photos/pcb.1775779699260892/1775779582594237/"><i class="icon-facebook-with-circle"></i></a>
								<a href="https://www.instagram.com/p/CSLl-EOLw5t/?utm_source=ig_web_copy_link"><i class="icon-instagram-with-circle"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- END: box-wrap -->

	<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Parallax Stellar -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>

<!-- Main JS (Do not remove) -->
<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
