{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
	<head>
	<meta charset="utf-8">
	<title>playful|小牧市のアイアン家具｜キャンプ用品 &mdash; 雑貨やオーダー家具も取扱中</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="小牧市アイアン家具｜キャンプ用品ならプレイフルへ">
	<meta name="keywords" content="小牧市、家具、キャンプ、雑貨、オーダー"/>
	<meta name="author" content="山崎唯衣" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="playful|小牧市のアイアン家具｜キャンプ用品"/>
	<meta property="og:image" content="https://playful-sennari.com/images/IMG_1801.JPG"/>
	<meta property="og:url" content="https://playful-sennari.com"/>
	<meta property="og:site_name" content="playful"/>
	<meta property="og:description" content="愛知県小牧市にある千成工業株式会社が手がけるNEWブランド、「playful」は、
	製造業ということを生かしたアイアン×木材など、オリジナリティ溢れる製品を製作しています。"/>
	<meta name="twitter:title" content="playful|小牧市のアイアン家具、キャンプ用品" />
	<meta name="twitter:image" content="https://playful-sennari.com/images/IMG_1801.JPG" />
	<meta name="twitter:url" content="https://twitter.com/sennariaichi" />
	<meta name="twitter:card" content="summary Card" />
	<meta name="twitter:site" content="@sennariaichi" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<meta name="google-site-verification" content="WYM76uMRFhOMsvEdyOqJLWVfci-XascFwHmekjhWoE0" />
	</head>

	<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="{% url 'myapp:index' %}">playful</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li class="active"><a href="{% url 'myapp:index' %}">HOME</a></li>
								<li><a href="{% url 'myapp:cart' %}">service</a></li>
								<li><a href="{% url 'myapp:item' %}">products</a></li>
								<li><a href="{% url 'myapp:camp' %}">about</a></li>
								<li><a href="{% url 'myapp:new' %}">contact</a></li>
							</ul>
						</div>
					</div>
				</nav>
		  </div>
		</header>
		<!-- END: header -->
<style>
    .product-image {
        margin-top: 20px; /* 画像の上部に適切な余白を追加 */
    }
    .product-name {
        font-weight: bold;
        font-size: 1.1em; /* 必要に応じてサイズを調整 */
    }
    .header-search-form {
        text-align: right; /* 検索窓を右揃えにする */
    }
		.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

</style>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-6 col-md-6 col-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-search-form">
                        <form method="GET" action="{% url 'myapp:product_search' %}">
                            <input type="text" name="q" placeholder="Enter Search Keyword" value="{{ request.GET.q }}" id="intry">
                            <input type="submit" value="Search" class="button_1" id="sub1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            {% if results %}
            <div class="row">
                {% for product in results %}
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row">
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="product-image">
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="desc">
                                <ul>
                                    <li><a href="{% url 'myapp:product_detail' product.id %}"><span class="product-name">{{ product.name }}</span></a> - <br>{{ product.short_description }}</li>
                                    <li>サイズ: {{ product.size }}</li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p></p>
            {% endif %}
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <!-- 左側のカテゴリリスト -->
        <div class="col-lg-3 col-md-4 category-list">
            <ul class="no-bullet">
               
                    <li>
                        <p><i class="fa fa-folder"></i>#CAMP #OUTDOOR <br>#インテリア</p>
                    </li>
               
                
                <!-- 商品リスト -->
                {% for product in products %}
                    <li>
                        <a href="{% url 'myapp:product_detail' product.id %}">
                            <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="product-icon" width="50" height="50" style="margin-bottom: 10px;">
                            {{ product.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>



        <!-- おすすめアイテム -->
        <div class="col-lg-9 col-md-8">
            <h2>おすすめアイテム</h2>
             <div class="owl-carousel owl-carousel1 owl-carousel-fullwidth fh5co-light-arrow animate-box" data-animate-effect="fadeIn">
                <div class="item">
                    <img src="{% static 'images/IMG_9248.JPG' %}" alt="カフェ">
                    <div class="item-text">
                        <h3>マルチディスプレイラック</h3>
                        <p>木とアイアンが絶妙なバランスでマルチな使い方ができる！</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/IMG_9223.JPG' %}" alt="ランタン">
                    <div class="item-text">
                        <h3>アイアンラック</h3>
                        <p>オシャレなデザイン家電のテイストを邪魔しない、スッキリとしたフォルムのアイアンラック。</p>
                    </div>
                </div>
                 <div class="item">
                    <img src="{% static 'images/IMG_9229.JPG' %}" alt="ランタン">
                    <div class="item-text">
                        <h3>ほしだな</h3>
                        <p>星をモチーフにしたオリジナルのアイアン製棚</p>
                    </div>
                </div>
								 <div class="item">
                    <img src="{% static 'images/IMG_9236.JPG' %}" alt="グリルプレート">
                    <div class="item-text">
                        <h3>究極のグリルプレート</h3>
                        <p>完璧なシーズニングでくっつかない！ゴシゴシ洗える！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
		
		
			<hr>
		<div id="fh5co-media-section">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h3>Welcome to playful</h3>
						<p>playful[プレイフル]という言葉は、聞き慣れない言葉かもしれません。<br>
            適切な日本語に翻訳するのは難しいのですが、「何かに夢中になったり、ドキドキワクワクしたりするなど、前向きな気持ちで
            いっぱいになっている状態のこと」を指します。playfulでは、お客様一人一人が使用する度にドキドキワクワクできる、そんな商品の製作を心がけています。</p>
					</div>
				</div>
<hr>

			<div class="container">
    <div class="row">
        <!-- キャンプテーブルのおすすめ記事 -->
        <div class="col-md-6 col-md-offset-3 animate-box">
            <div class="fh5co-cover position-relative" style="background-image: url({% static 'images/IMG_9224.JPG' %});">
                <div class="desc text-center position-absolute w-100">
                    <p>キャンプをより快適に！オシャレなデザインで安定感抜群のキャンプテーブル！軽量コンパクトで持ち運び簡単！キャンプやピクニックで活躍！ #キャンプ #アウトドア</p>
                    <span>camp table</span>
                </div>
            </div>
        </div>
        
        <!-- キャンプ用品のおすすめ記事 -->
        <div class="col-md-6 col-md-offset-3 animate-box">
            <div class="fh5co-cover position-relative" style="background-image: url({% static 'images/IMG_9232.JPG' %});">
                <div class="desc text-center position-absolute w-100">
                    <p>キャンプ用品もおすすめ！最新のアウトドアギアや便利グッズを紹介！キャンプを楽しむためのアイデア満載！ #キャンプ #アウトドア</p>
                    <span>camp gear</span>
                </div>
            </div>
        </div>
    </div>
</div>


					
		
		<!-- END fh5co-intro-section -->
	

		</div>
		<!-- END fh5co-product-section -->
		<div id="fh5co-section" class="fh5co-grey-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="fh5co-inner">
							<i class="icon-shield"></i>
							<div class="holder-section">
								<h3>配送・送料について</h3>
								<p>商品代金以外の料金の説明：お支払い方法が「代金引き換え」の場合、代引き手数料がかかります。
	    お支払い方法が「銀行振込」の場合、振込手数料がかかることがあります。
	    商品合計および配送料の消費税は内税表示となっております。
	    ギフトラッピング・熨斗の対応商品の場合、ギフト・熨斗の手数料がかかります。 </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-inner">
							<i class="icon-strategy"></i>
							<div class="holder-section">
								<h3>返品について</h3>
								<p>返品期限：商品到着後７日以内とさせて頂きます。
	返品送料：お客様都合による返品につきましてはお客様のご負担とさせていただきます。不良品に該当する場合は当方で負担いたします。 </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-inner">
							<i class="icon-bike"></i>
							<div class="holder-section">
								<h3>支払い方法について</h3>
								<p>AmazonPay,銀行振込,GMO後払い</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p>playful presented by sennari &copy; 2021.<a href="https://playful-sennari.com/index.html">playful</a>. All Rights Reserved.
								<br>毎日を楽しく<i class="icon-heart3 love"></i> <a href="cart.html" target="_blank">プライバシーポリシー</a> / 必ずお読みください<a href="cart.html" target="_blank">特定商取引法に基づく表記</a></p>
							<p class="fh5co-social-icons">
								<a href="https://twitter.com/sennariaichi"><i class="icon-twitter-with-circle"></i></a>
								<a href="https://www.facebook.com/sennarikougyou/photos/pcb.1775779699260892/1775779582594237/"><i class="icon-facebook-with-circle"></i></a>
								<a href="https://www.instagram.com/p/CSLl-EOLw5t/?utm_source=ig_web_copy_link"><i class="icon-instagram-with-circle"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- END: box-wrap -->

	<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Parallax Stellar -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>

<!-- Main JS (Do not remove) -->
<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
